<% provide(:title, "Usuarios") %>
<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <h2>Usuarios</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p>Listado de usuarios administradores de la aplicación.</p>
      <p>El usuario en el primer renglón recibirá copia de las notificaciones de cumpleaños.</p>
    </div>
    <div class="col-md-7">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th colspan="2">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= link_to '', edit_user_path(user), class: "glyphicon glyphicon-edit" %></td>
              <td><%= link_to '', user, class: "glyphicon glyphicon-trash", method: :delete, data: { confirm: '¿Está seguro?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-2">
      <p>Navegación</p>
      <nav class="nav flex-column">
        <%= link_to 'Inicio', root_path, class: "nav-link" %><br>
      <br><p>Acciones</p>
      <%= link_to 'Agregar usuario', new_user_path, class: "btn btn-default" %>
      </nav>
    </div>
  </div>


  <br>



</div>
