<%= form_for @mensaje, url: {action: 'update'} do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<h2>Mensaje de <%= f.object.tipo %></h2>


  <div class="form-group row">
    <%= f.label :texto, class: "col-sm-2 form-control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :texto, cols: 120, rows: 10, class: "form-control" %>
    </div>
  </div>

  <%= f.hidden_field :tipo, class: "form-control" %>

  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-default" %>
  </div>
<% end %>
