
<header>
  <div class="container-fluid bg-1">
    <div class="row">
      <div class="col-xs-2", style="margin-top:0px;margin-left:0px;margin-right:0px;border:0px;padding:0px;">
        <%= image_tag("logobNotarios.png", size: "80x70", alt: "Colegio de Notarios de Aguascalientes") %>
      </div>
      <div class="col-sm-10">
        <h1 style="font-family:Tahoma;margin-left:50px;border:0px;font-size:28px;">Colegio de Notarios de Aguascalientes</h1>
        <% if logged_in? %>
          <%= link_to "Salir de sesión", logout_path, method: "delete", class: "navbar-right btn btn-xs" %>
          <% if params[:controller] != "static_pages" %>
            <%= link_to "Inicio",root_path, class: "navbar-right btn btn-xs" %>
            <% if params[:action] == "show" || params[:action] == "edit" %>
              <%= link_to "Anterior",request.referer, class: "navbar-right btn btn-xs" %>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to "Iniciar sesión", login_path, class: "navbar-right btn btn-xs" %>
        <% end %>
        
      </div>
    </div>
  </div>
</header>