<% provide(:title, "Notarios") %>
<div class="container">
  <h2>Listado de miembros del Colegio de Notarios de Aguascalientes.</h2>
  <div class="row">
    <div class="col-md-12">
    <%= link_to 'Agregar Notario', new_member_path, class: "btn btn-default" %>
      <table>
        <thead>
          <tr>
            <th>Número</th>
            <th>Nombre</th>
            <th>Activo?</th>
            <th>Email</th>
            <th>Fecha de nacimiento</th>
            <th>Presidente?</th>
            <th>Fecha Fiat Supernumerario</th>
            <th>Fecha de Fiat Titular</th>
            <th>Fecha de asamblea de aceptación</th>
            <th>Fecha de Inicio de Ejercicio</th>
            <th>Años de servicio</th>
            <th colspan="5">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
              <td><%= member.numero %></td>
              <td><%= member.nombre %></td>
              <% activo = member.activo? ? "Si" : "No" %>
              <td><%= activo %></th>
              <td><%= member.email %></td>
              <td><%= member.fechaNacimiento.to_formatted_s(:short) %></td>
              <% presi = member.presidente ? "Si" : "No" %>
              <td><%= presi %></td>
              <td><%= member.fiat_supernumerario.blank? ? '' : member.fiat_supernumerario.to_formatted_s(:db)  %></td>
              <td><%= member.fiat_notario_titular.blank? ? '' : member.fiat_notario_titular.to_formatted_s(:db)  %></td>
              <td><%= member.asamblea_aceptacion.blank? ? '' : member.asamblea_aceptacion.to_formatted_s(:db)  %></td>
              <td><%= member.inicio_ejercicio.blank? ? '' : member.inicio_ejercicio.to_formatted_s(:db)  %></td>
              <td style="text-align: center;"><%= member.inicio_ejercicio.blank? ? '' : member.total_service_time %></td>
              <td><%= link_to '', member, class: "glyphicon glyphicon-eye-open" %></td>
              <td><%= link_to '', edit_member_path(member), class: "glyphicon glyphicon-edit" %></td>
              <td><%= link_to '', member, class: "glyphicon glyphicon-trash", method: :delete, data: { confirm: '¿Está seguro?' } %></td>
              <td><%= link_to '', licenciar_path(member), class: "glyphicon glyphicon-calendar" %></td>
              <td><%= link_to '', reconocer_path(member), class: "glyphicon glyphicon-thumbs-up" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Agregar Notario', new_member_path, class: "btn btn-default" %>
    </div>
  </div>
  <div class="form-popup" id="myForm">
  </div>
</div>

<div class="row">
    <div class="col-md-4">
      <%= form_tag import_members_path, multipart: true, class: "navbar-form navbar-left search-form" do %>
        <p>Importar archivo de Notarios en formato CSV</p>
        <%= file_field_tag :file, class: "form-control" %>
        <%= submit_tag "Importar", class: "btn btn-default" %>
      <% end %>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <p>Descargar:</p>
        <%= link_to members_path(format: "xls") do %>
          <%= image_tag "microsoft-excel.png", :size => '60x60' %>
        <% end %>

    </div>

</div>
