<% provide(:title, "Notarios") %>
<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <h2>Datos del Notario</h2>
    <div class="col-md-6">
      <table id="vertical">
        <tr class="list_line_even">
          <td>Numero:</td>
          <td><strong><%= @member.numero %></strong></td>
        </tr>
        <tr class="list_line_odd">
          <td>Nombre:</td>
          <td><strong><%= @member.nombre %></strong></td>
        </tr>
        <tr class="list_line_even">
          <td>Activo?:</td>
          <% activo = @member.activo? ? "Si" : "No" %>
          <td><strong><%= activo %></strong></td>
        </tr>
        <tr class="list_line_odd">
          <td>Email:</td>
          <td><strong><%= @member.email %></strong></td>
        </tr>
        <tr class="list_line_even">
          <td>Fecha de nacimiento:</td>
          <td><strong><%= @member.fechaNacimiento.to_formatted_s(:short) %></strong></td>
        </tr>
        <tr class="list_line_odd">
          <td>Presidente:</td>
          <% presi = @member.presidente ? "Si" : "No" %>
          <td><strong><%= presi %></strong></td>
        </tr>
        <tr class="list_line_even">
          <td>Fecha de Fiat Supernumerario:</td>
          <td><strong><%= @member.fiat_supernumerario.to_formatted_s(:db) %></strong></td>
        </tr>
        <tr class="list_line_odd">
          <td>Fecha de Fiat Notario Titular:</td>
          <td><strong><%= @member.fiat_notario_titular.to_formatted_s(:db) %></strong></td>
        </tr>
        <tr class="list_line_even">
          <td>Fecha de Asamblea de Aceptaci칩n:</td>
          <td><strong><%= @member.asamblea_aceptacion.to_formatted_s(:db) %></strong></td>
        </tr>
        <tr class="list_line_odd">
          <td>Fecha de Inicio de Ejercicio:</td>
          <td><strong><%= @member.inicio_ejercicio.to_formatted_s(:db) %></strong></td>
        </tr>
        <tr class="list_line_even">
          <td>A침os de servicio:</td>
          <td style="text-align:center;"><strong><%= @member.total_service_time %></strong></td>
        </tr>
        <% if !@member.revocacion_fiat.nil? %>
          <tr class="list_line_odd">
            <td>Fecha de Revocaci칩n de Fiat:</td>
            <td><strong><%= @member.revocacion_fiat.to_formatted_s(:db) %></strong></td>
          </tr>
          <tr class="list_line_even">
            <td>Motivo de Revocaci칩n de Fiat:</td>
            <td><strong><%= @member.motivo_revocacion %></strong></td>
          </tr>
        <% end %>
        <tr class="last-lines">
          <td colspan="2">
            <%= link_to 'Agregar Licencias', licenciar_path(@member), class: "btn btn-in-table" %>
          </td>
        </tr>
        <tr class="last-lines">
          <td colspan="2">
            <%= link_to 'Agregar Reconocimientos', reconocer_path(@member), class: "btn btn-in-table" %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <%= render '/licencias/index' %>
      <%= render '/reconocimientos/index' %>
    </div>
  </div>
  <%= link_to 'Modificar', edit_member_path(@member), class: "btn btn-default" %>
</div>
<div class="form-popup" id="myForm">
</div>